#topico-web, #topico-redes {
    text-align: center;
}

.prog-web {
    background-color: lightgoldenrodyellow;
    padding: 20px 30px 20px 30px;
}

#img-objetivo12 {
    text-align: center;
}

#title-ods12 {
    text-align: center;
}

.redes {
    background-color: lightgreen;
    padding: 20px 30px 20px 30px;
}

#img-roteador {
    text-align: center;
}

.grupo {
    text-align: center;
}

.perfil {
    
}

footer {
    text-align: center;
    background-color: aliceblue;
    border-top: 1px solid gray;
    padding: 10px 0;
}

.info {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
}
